
# Environment variables for CertBuddy application
KEY=
SECRET=

# Database configuration
DB_CLIENT=pg
DB_HOST=db
DB_PORT=5432
DB_DATABASE=
DB_USER=
DB_PASSWORD=

# Directus configuration
DIRECTUS_URL=http://localhost:8055
CORS_ENABLED=true
CORS_ORIGIN=*

# Admin user for Directus, used for initial setup and internal API calls
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Engine configuration
ENGINE_API_PORT=3000

# Token from Directus Master ADMIN user, used for internal API calls
ENGINE_MASTER_TOKEN=

# Frontend configuration
VITE_DIRECTUS_URL=http://localhost:8055
VITE_BACKEND_API_URL=http://localhost:3000

# Debug mode
DEBUG=True