
# Environment variables for CertBuddy application
KEY=
SECRET=

# Database configuration
# By default when use PostgreSQL for the DATA Backend (Directus)
DB_CLIENT=pg 
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USER=
DB_PASSWORD=

# Data Backend configuration (Directus)
DIRECTUS_URL=
CORS_ENABLED=true
CORS_ORIGIN=*
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Engine API configuration
ENGINE_API_PORT=3000

# This is the API Token from the Default Admin User in Directus, which is used by the Engine to authenticate with Directus API
ENGINE_MASTER_TOKEN=

# This setting controls whether the Engine should allow global certificate matching,
# which means that it will match certificates across all certificates in Directus. If set to false, the Engine will only match certificates within the same user. 
ENGINE_ALLOW_GLOBAL_CERTIFICATE_MATCHING=false

# Frontend configuration
VITE_DIRECTUS_URL=http://192.172.1.55:8055
VITE_BACKEND_API_URL=http://localhost:3000

# Debug mode
DEBUG=True

# Docker Port Forwards
DIRECTUS_PORT=8055
BACKEND_PORT=3000
FRONTEND_PORT=8088